@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  list-style: none;
}

:root {
  --dark-text: #0b0223;
  --light-text: #3c354f;
  --lighter-text: #534c64;
  --main-color: #ff42a5;
  --primary-color: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --secondary-color: #4ec5f7;
}

/* shared style start */
body {
  max-width: 1440px;
  margin: 0px auto;
}

li {
  cursor: pointer;
}

.btn-primary {
  padding: 12px 25px;
  background-color: #ff42a5;
  border: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: transparent;
  outline: 1.5px solid var(--main-color);
  color: var(--main-color);
}

.bg-sky {
  background-color: var(--secondary-color);
}

.gradient-title {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 250%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img {
  width: 40px;
}

.logo {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h3::first-letter {
  color: #ff42a5;
}

.title {
  font-size: 2rem;
  color: var(--dark-text);
}
.description {
  color: var(--light-text);
  font-size: 0.9rem;
  padding: 20px 0;
}
/* shared style end */

/* header style start */
header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background: #fff;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav ul li {
  font-weight: 500;
  color: var(--light-text);
}

nav ul li:hover {
  color: var(--main-color);
}

nav > ul > li:last-child {
  padding: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* header style end */

/* banner style start */
.banner {
  background-image: url("../images/Group14.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: center left;
}
.banner-container {
  padding: 0 calc(10px + 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content,
.banner-img-container {
  flex: 1;
}

.banner-content h2 {
  color: var(--dark-text);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

.banner-content button {
  margin-right: 15px;
}

.banner-img-container img {
  width: 100%;
}

.banner-content ul {
  margin: 15px 0;
}

.banner-content ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* banner style end */

/* gamer section start */
.gamers {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gamer {
  padding: 0 calc(10px + 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.gamer-img img {
  width: 100%;
}

.gamer-img,
.gamer-content {
  flex: 1;
}

.gamer-content {
  text-align: end;
  max-width: 400px;
}

.gamer-content h2,
.gamer-content h3 {
  color: var(--lighter-text);
  padding-top: 8px;
}

.gamer-content h3 {
  font-weight: 500;
}
/* gamer section end */

/* online section style start */

.online-content {
  text-align: center;
  padding: 0 calc(10px + 10%);
}

.online-img-container {
  padding: 0 calc(10px + 10%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.online-img img {
  width: 100%;
  border-radius: 10px;
}

.image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background-color: black;
  border-radius: 10px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  text-align: center;
}

.overlay .content p {
  color: red;
  padding: 10px 0;
  font-weight: 500;
}

.image:hover .overlay {
  opacity: 0.7;
}

/* online section style end */

/* instantly style start */
.instantly {
  padding: 0 calc(10px + 10%);
  display: flex;
  gap: 90px;
  justify-content: space-between;
  align-items: center;
}

.instantly-img img:first-child {
  width: 100%;
}

.instantly-content {
  flex: 1;
  text-align: end;
}

.ins-cont {
  max-width: 300px;
}

.instantly-img {
  flex: 1;
  position: relative;
}

.instant-small-img {
  position: absolute;
  bottom: -8%;
  left: -15%;
  width: 35%;
}
/* instantly style end */

/* play online style start */
.online {
  margin: 50px 0;
}
.play-online {
  padding: 100px calc(10px + 10%);
  display: flex;
  gap: 70px;
  align-items: center;
}

.play-img img {
  width: 100%;
}

.play-img {
  flex: 1;
  position: relative;
}

.play-content {
  flex: 1;
}

.small-img {
  position: absolute;
  bottom: -10%;
  left: 80%;
  width: 35%;
}
.play-content {
  display: flex;
  justify-content: end;
}

/* play online style end */

/* careers style start */
.careers {
  background: var(--primary-color);
  width: 100%;
  padding: 40px calc(10px + 10%);
  display: flex;
  gap: 40px;
  align-items: center;
}

.career-img img {
  width: 100%;
}

.career-content,
.career-img {
  flex: 1;
  color: #ffffff;
}

.career-content h5 {
  font-weight: 500;
}

.career-content p {
  color: #e6e6e6;
  padding: 20px 0;
  font-size: 0.9rem;
}

.career-content button {
  margin-top: 20px;
  background-color: #fff;
  color: var(--main-color);
}

.career-content button:hover {
  background-color: transparent;
  outline: 1.5px solid white;
  color: white;
}

.list {
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-list {
  text-align: end;
}
/* careers style end */

/* variants style start */
.item img {
  width: 20%;
}
.variants {
  text-align: center;
  padding: 40px calc(10px + 10%);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.item {
  padding: 10px;
  display: flex;
  min-width: fit-content;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.item:hover {
  outline: 1.5px solid var(--main-color);
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* variants style end */

/* footer style start */
footer {
  background-color: #0b0223;
  color: #fff;
  padding: 7rem 0;
}

.footer-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

footer .logo {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

footer ul li {
  font-size: 0.9rem;
}

.footer-menu,
.social-icons,
.terms-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.footer-menu ul,
.social-icons ul,
.terms-menu ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons {
  margin-bottom: 60px;
}

.terms-menu,
.copy-right {
  color: rgba(255, 255, 255, 0.6);
}

.terms-menu ul li:hover, .footer-menu ul li:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* footer style  */

/* for responsive */
@media screen and (max-width: 576px) {
  header {
    position: static;
    box-shadow: none;
  }
  .banner {
    background-image: none;
  }
  nav,
  nav > ul,
  .gamer,
  .instantly,
  .careers,
  .footer-menu,
  .social-icons,
  .terms-menu {
    flex-direction: column;
  }
  .banner-container,
  .play-online {
    flex-direction: column-reverse;
  }
  .banner-content {
    padding: 40px;
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .online-img-container {
    grid-template-columns: 1fr;
  }
  .instant-small-img {
    bottom: -30px;
    left: -50px;
  }
  .instantly-content,
  .play-content {
    text-align: center;
  }
  .instantly-img {
    margin-left: 30px;
  }
  .play-img {
    margin-right: 30px;
    margin-top: 40px;
  }
  .banner-content button,
  .logo {
    margin-bottom: 10px;
  }
  .item {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 8px 0px;
    gap: 5px;
  }
  .item img {
    width: 10%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner-content button {
    margin-bottom: 10px;
  }
  .online-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .careers {
    flex-direction: column;
  }
  .item {
    font-size: 0.8rem;
    padding: 8px 0px;
  }
  .item img {
    width: 15%;
  }
}
